.grid-container {
    background-color: #9C835F;
    display: block;
    grid-template-columns: auto auto auto;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.grid-item-title {
    padding: 35px;
    margin: auto;
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 1200px;
    height: 100px;
}

.grid-item-content {
    padding: 25px;
    margin: auto;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    width: 1000px;
    letter-spacing: 0.1em;
    opacity: .8;
}

.grid-item-button {
    padding-top: 0px;
    margin: auto;
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 1200px;
    height: 100px;
}

body {
    background-color: #9C835F;
}

.container {
    display: block;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.versus {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 96px;
    display: flex;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724C21;
    padding-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.result {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9A6F59;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF; 
}

nav {
    display: flex;
    flex-direction: row;
}

p {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.1em;
}

.result_images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player1_result img {
    transform: rotate(90deg); 
    margin-top: 40px;
}

.com_result img {
    transform: rotate(-90deg) rotateY(180deg); 
    margin-top: 40px;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.option_img {
    background-color:rgba(203, 185, 157, 0);
    border-radius: 30px;
    justify-content: center;
    width: 255px;
    padding: 20px;
    margin-top: 40px;
    margin-right: 50px;
    text-align: center;
}

.option_img:hover {
    background-color:rgba(203, 185, 157, 1);
}

.option_img.active {
    background-color:rgba(203, 185, 157, 1);
}

.container.start .player1_result {
    transform-origin: left;
    animation: player1Shake 0.5s ease infinite;
}
@keyframes player1Shake {
    50% {
      transform: rotate(10deg);
    }
}
  
.container.start .com_result {
    transform-origin: right;
    animation: cpuShake 0.5s ease infinite;
}
@keyframes cpuShake {
    50% {
      transform: rotate(-10deg);
    }
}

.container.start .option_img {
    pointer-events: none;
}